@page "/"
@inherits MathJaxContentComponent

<h1>Hello, world!</h1>

Welcome to your new app.

<br />


\( a + b = c \)

<br />

\(
\frac{d}{dx}\left( \int_{0}^{x} f(u)\,du\right)=f(x).
\)

<p>
    \(
    {\frac {d}{dx}}\arctan(\sin({x}^{2}))=-2\,{\frac {\cos({x}^{2})x}{-2+
    \left (\cos({x}^{2})\right )^{2}}}
    \)
</p>