@page "/"
@inherits MathJaxContentComponent

<h2>MathJaxContentComponent</h2>

<br />

$ a/c=1000 $

\( a + b = c \)

<br />

\(   
\frac{d}{dx}\left( \int_{0}^{x} f(u)\,du\right)=f(x).    
\)

<p>
    \(
    {\frac {d}{dx}}\arctan(\sin({x}^{2}))=-2\,{\frac {\cos({x}^{2})x}{-2+
    \left (\cos({x}^{2})\right )^{2}}}
    \)
</p>

@*<math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
            <munder>
                <mo>∑</mo>
                <mrow>
                    <mi>p</mi>
                    <mtext> prime</mtext>
                </mrow>
            </munder>
            <mi>f</mi>
            <mo stretchy="false">(</mo>
            <mi>p</mi>
            <mo stretchy="false">)</mo>
            <mo>=</mo>
            <msub>
                <mo stretchy="false">∫</mo>
                <mrow>
                    <mi>t</mi>
                    <mo>&gt;</mo>
                    <mn>1</mn>
                </mrow>
            </msub>
            <mi>f</mi>
            <mo stretchy="false">(</mo>
            <mi>t</mi>
            <mo stretchy="false">)</mo>
            <mspace width="thinmathspace"></mspace>
            <mi>d</mi>
            <mi>π</mi>
            <mo stretchy="false">(</mo>
            <mi>t</mi>
            <mo stretchy="false">)</mo>
        </mrow>
    </math>*@

<br />

@*<math display="block">
        <mrow>
            <mi>det</mi>
            <mo>|</mo>
            <mtable>
                <mtr>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>0</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>1</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>2</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <mo>…</mo>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mi>n</mi>
                        </msub>
                    </mtd>
                </mtr>
                <mtr>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>1</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>2</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>3</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <mo>…</mo>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mrow>
                                <mi>n</mi>
                                <mo>+</mo>
                                <mn>1</mn>
                            </mrow>
                        </msub>
                    </mtd>
                </mtr>
                <mtr>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>2</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>3</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mn>4</mn>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <mo>…</mo>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mrow>
                                <mi>n</mi>
                                <mo>+</mo>
                                <mn>2</mn>
                            </mrow>
                        </msub>
                    </mtd>
                </mtr>
                <mtr>
                    <mtd columnalign="center">
                        <mo>⋮</mo>
                    </mtd>
                    <mtd columnalign="center">
                        <mo>⋮</mo>
                    </mtd>
                    <mtd columnalign="center">
                        <mo>⋮</mo>
                    </mtd>
                    <mtd columnalign="center">
                    </mtd>
                    <mtd columnalign="center">
                        <mo>⋮</mo>
                    </mtd>
                </mtr>
                <mtr>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mi>n</mi>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mrow>
                                <mi>n</mi>
                                <mo>+</mo>
                                <mn>1</mn>
                            </mrow>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mrow>
                                <mi>n</mi>
                                <mo>+</mo>
                                <mn>2</mn>
                            </mrow>
                        </msub>
                    </mtd>
                    <mtd columnalign="center">
                        <mo>…</mo>
                    </mtd>
                    <mtd columnalign="center">
                        <msub>
                            <mi>c</mi>
                            <mrow>
                                <mn>2</mn>
                                <mi>n</mi>
                            </mrow>
                        </msub>
                    </mtd>
                </mtr>
            </mtable>
            <mo>|</mo>
            <mo>&gt;</mo>
            <mn>0</mn>
        </mrow>
    </math>*@